#StickersBtn {
    position:absolute;
    display:flex;
    justify-content:center;

    right:0; top:0;
    width:0; height:0;

    line-height:0;
    font-size:18px;
    font-weight:900;

    margin:-30px 13px 0;
    padding:20px 10px;

    cursor:pointer;

    transform:translate(0,-100%);
    transform:rotate(90deg);
}

#StickersBtn:hover {font-size:30px; margin:-30px 12px 0;}


#StickersContent {background:#b9bbbe; border-radius:5px; display:flex; padding:5px; flex-wrap:wrap; min-width:324px; max-height:250px; overflow-x:auto;}
#StickersContent::selection {background:transparent; color:none;}
#StickersContent::-webkit-scrollbar {width:3px;}
#StickersContent::-webkit-scrollbar-track {box-shadow:inset 0 0 6px rgba(0,0,0,0.3);}
#StickersContent::-webkit-scrollbar-thumb {box-shadow:inset 0 0 6px rgba(0,0,0,0.3); background-color:black;}

#StickersContent div:not([class]):not([id]) {width:64px; height:64px; display:flex; overflow:hidden;}
#StickersContent div.StickersGroupName {width:100%; padding:5px 0 0; font-weight:bold;}

#StickersContent div#StickersSettings {width:100%; display:flex;}
#StickersContent div#StickersSettings input {flex:1 0 auto; padding:0 5px; border-radius:5px;}
#StickersContent div#StickersSettings input::-webkit-input-placeholder {text-indent:0; transition:text-indent 1s ease;}
#StickersContent div#StickersSettings input:focus::-webkit-input-placeholder {text-indent:105%;}
#StickersContent div#StickersSettings span {display:flex; flex:0 0 auto; justify-content:center; padding:5px; font-weight:900; font-size:20px; margin-left:5px; width:20px; height:20px; border-radius:99px;}
#StickersContent div#StickersSettings span:hover {box-shadow:0px 0px 5px black; background-color:transparent; cursor:pointer;}

#StickersContent div img {height:52px; width:52px; cursor:pointer; margin:auto; transition:.2s; border-radius:5px;}
#StickersContent div img:hover {height:64px; width:64px; background:#f6f6f7; }
